@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cinzel+Decorative&display=swap');


.mything {
    overflow-y: visible;
    height: auto;
}

h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight:700;
    filter: drop-shadow( 5px 5px 8px black);
}

nb-card {
    filter: drop-shadow( 5px 5px 8px black);
}

p {
    filter: drop-shadow( 5px 5px 8px black);
}