@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cinzel+Decorative&display=swap');



.searchbar {
    padding: 10px;
    filter: drop-shadow( 5px 5px 8px black);
}

.searchlabel {
    font-family: 'Cinzel Decorative', cursive;
    font-weight:700;
    font-size: large;
    text-align: right;
    display:inline;
    filter: drop-shadow( 5px 5px 8px black);
}

