@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Piazzolla:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


img {
    
       height: 60%;
        margin: auto;
      padding: 10px;
       
    
}

p {
  font-family: 'EB Garamond', serif;
  letter-spacing: 3px;
  font-weight:700;
  filter: drop-shadow( 5px 5px 8px black); 
}



h1 {
  font-family: 'EB Garamond', serif;
  letter-spacing: 3px;
  font-weight:700;
  filter: drop-shadow( 5px 5px 8px black); 
}

:host {
  display: block;
  max-height: 80rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}