@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


p {
    font-family: 'Metal Mania', cursive;
    color: red;
    font-size: 60px;
    text-shadow: 8px 8px 15px black;
}
h1 {
    text-shadow: 8px 8px 15px black;
}